body, html {
  height: 100vh;
  margin: 0;
  padding: 0;
}

*body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
}

body {
  font-family: monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main h1 {
  font-size: 22px;
  text-align: center;
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  width: 400px;
}

body form label::before {
  content: '*';
  color: #b71c1c;
}

body form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 0;
}

body form div input {
  color: #333;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 10px 10px 9px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 17px;
}

body form div input[name='password'] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

body form div i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #bbb;
  padding: 0 10px 0 0;
  background-color: #fff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  cursor: pointer;
}

body form div input[name='submit'] {
  -webkit-box-flex: initial;
      -ms-flex-positive: initial;
          flex-grow: initial;
  cursor: pointer;
  margin-left: auto;
  text-transform: capitalize;
  font-weight: 100;
  padding: 8px 10px;
  margin-top: 18px;
}

body form #message {
  display: none;
}

body form #message.error, body form #message.success {
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #F0F0F0;
}

body form #message.error {
  color: #b71c1c;
}

body form #message.success {
  color: green;
}

/**
* Utils
*/
.noSelect {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/**
* Underline Effect
*/
.underline {
  position: relative;
}

.underline input, .underline i {
  margin-bottom: 1px;
}

.underline::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #0AF;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.underline:hover::before, .underline:focus::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.underline:hover, .underline:focus {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.underline:hover input, .underline:hover i, .underline:focus input, .underline:focus i {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.underlineFocus {
  position: relative;
}

.underlineFocus input, .underlineFocus i {
  margin-bottom: 1px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.underlineFocus::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #0AF;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

/**
*  Overlay Spinner
*/
form.action {
  position: relative;
}

form.action .overlay {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  background-color: #e7e7e747;
}

form.action .overlay::before {
  content: '';
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border-top: 3px solid #0AF;
  border-right: 3px solid transparent;
  border-bottom: 3px solid #0AF;
  border-left: 3px solid transparent;
  -webkit-animation: spin 500ms infinite linear;
          animation: spin 500ms infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

/**
* Managing errors
*/
form div input[class*='error_field'],
form div input[class*='error_field'] + i {
  border-color: #b71c1c;
}
/*# sourceMappingURL=main.css.map */