body, html{
  height: 100vh;
  margin: 0;
  padding: 0;
}
*body{
  box-sizing: border-box;
  font-size: 20px;
}
body{
  font-family: monospace;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  main{
    h1{
      font-size: 22px;
      text-align: center;
    }
  }
  form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 400px;
    label::before{
      content: '*';
      color:#b71c1c;
    }
    div{
      display: flex;
      flex-direction: row;
      margin: 10px 0;
      input{
        color: #333;
        outline: none;
        border: 1px solid #bbb;
        border-radius: 3px;
        padding: 10px 10px;
        flex-grow: 1;
        font-size: 17px;
      }
      input[name='password']{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: none;
      }
      i{
        display: flex;
        align-items: center;
        border: 1px solid #bbb;
        padding: 0 10px 0 0;
        background-color: #fff;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-left: none;
        cursor: pointer;
      }
      input[name='submit']{
        flex-grow: initial;
        cursor: pointer;
        margin-left: auto;
        text-transform: capitalize;
        font-weight: 100;
        padding: 8px 10px;
        margin-top: 18px;
      }
    }
  }
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
* Underline Effect
*/
.underline{
  position: relative;
  input, i{
    margin-bottom: 1px;
  }
  &::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #0AF;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
  }
  &:hover::before,
  &:focus::before {
    transform: scaleX(1);
  }
  &:hover,
  &:focus{
    input, i{
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    transform: scaleX(1);
  }
}

.underlineFocus{
  position:relative;
  input, i{
    margin-bottom: 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  &::before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #0AF;
    transform: scaleX(1);
  }
}